alembic
annotated-types
anyio
blinker
certifi
charset-normalizer
click
colorama
filelock
Flask
flask-cors
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
fsspec
gunicorn
greenlet
grpcio
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
itsdangerous
Jinja2
joblib
Mako
MarkupSafe
mpmath
networkx
numpy
packaging
pandas
pillow
portalocker
protobuf
psycopg2-binary
pydantic
pydantic_core
PyJWT
PyMuPDF
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
qdrant-client
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
SQLAlchemy
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
Werkzeug

# Added for document processing
# langchain
langchain-community
langchain-text-splitters
pdfplumber
uuid

openai